@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(241, 245, 241);
}
.inputBordrer:focus{
border: unset !important;
outline: unset !important;
}
.imageRtyles{
    width: 40rem !important;
}
.Textwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilediv{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilediv .lletterFont{
    font-size: 20px;
}