@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(241, 245, 241);
}
.inputBordrer:focus{
border: unset !important;
outline: unset !important;
}
.imageRtyles{
    width: 40rem !important;
}